/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
success-6931a-firebase-adminsdk-r1v0e-efade292fe.json
success-13225-firebase-adminsdk-m2ebo-6b0f2814e8.json
google-services.json
